body {
    height: 100vh;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0; 
}

a {
    color: blue;
    text-decoration: solid;
}

.wolf {
    width: 800px;
}

img:not(.wolf) {
    width: 200px;
    height: 200px;
}

header,
footer {
    background-color: #1f2937;
}

header {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
}

.hero_secondary,
.header_links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
}

.top_button {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882f6;
    padding: 8px 26px;
    border-radius: 8px;
    margin-top: 10px;
}
.top_header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header_links {
    gap: 30px;
}

.first_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: nowrap;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #F9FAF8;

} 

.information_header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding-top: 100px;
}

.column {
    max-width: 200px;
}

.photos_row {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 100px;
}

.text {
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

.sec_middle_content {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 100px;
}

.thor {
    text-align: end;
    font-weight: bold;
}

.three_middle_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3882f6;
    padding: 50px;
    margin: 100px 200px;
    color: #f9faf8;
    
}

.three_header {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 0%;
}

.three_details {
    color: #e5e7eb;
}

.bottom_button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: auto;
}

.signup {
    background-color: #3882f6;
    padding: 10px 50px;
    display: inline-block;
    border-radius: 8px;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
}
